/* App.css */

body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

header {
  color: #a80808;
  text-align: center;
  padding: 10px 0;
}

h1 {
  margin: 0;
}

.container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(94, 196, 22, 0.1);
}

thead {
  background-color: #8e1616;
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

/* Styles for the selected movie details */

.selected-movie {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.selected-movie img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.selected-movie h2 {
  margin: 0;
  margin-bottom: 10px;
  color: #6df185;
}

.selected-movie p {
  margin: 0;
  margin-bottom: 5px;
  color: #555;
}

.selected-movie button {
  padding: 8px 16px;
  background-color: #990c0c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selected-movie button:hover {
  background-color: #555;
}
/* Styles for the Add New Movie form */

.add-movie-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.add-movie-form h2 {
  margin: 0;
  margin-bottom: 10px;
  color: #333;
}

.add-movie-form label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.add-movie-form input,
.add-movie-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-movie-form input[type='number'] {
  width: 50%;
}

.add-movie-form button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-movie-form button:hover {
  background-color: #555;
}